{% extends "base.html" %} {% block title %}Team Nemesis{% endblock %}

{% block content %}
<div class="container" style="padding-top: 20px;">
    <div class="row justify-content-md-center align-items-center">
        <div class="card fat">
            <div class="card-body">
                <div class="bg-light">
                    <div class="container">
                        <div class="row h-100 align-items-center py-5">
                            <div class="col-lg-6">
                                <h1 class="display-4">Sentiment Predictor</h1>
                                <p class="lead text-muted mb-0">The website provides a sentiment predictor for hotel reviews and service comparisons. It has a customer-oriented dashboard that displays good services offered by different hotels. The dashboard helps users make informed decisions when selecting a hotel, which simplifies the process and enhances the overall travel experience. The website aims to be beneficial for travelers.</p>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block"><img src="../static/images/Emotion-Transparent.png"
                                    alt="sentiments" class="img-fluid"></div>
                        </div>
                    </div>
        
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-lg-5">
                                <h2 class="display-4 font-weight-light">Team Nemesis</h2>
                                <p class="font-italic text-muted">.</p>
                            </div>
                        </div>

                        <div class="row text-center">
                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-4.webp" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Milly</h5><span class="small text-uppercase text-muted">Data Scientist</span>
                                </div>
                            </div>
                            <!-- End-->

                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-3.webp" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Mayur</h5><span class="small text-uppercase text-muted">ML Engineer</span>
                                </div>
                            </div>
                            <!-- End-->

                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-2.webp" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Girish</h5><span class="small text-uppercase text-muted">Data
                                        Engineer</span>
                                </div>
                            </div>
                            <!-- End-->

                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-5.png" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Rojal</h5><span class="small text-uppercase text-muted">Dashboard
                                        Developer</span>
                                </div>
                            </div>
                            <!-- End-->

                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-10.png" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Chitra</h5><span class="small text-uppercase text-muted">Dashboard
                                        Developer</span>
                                </div>
                            </div>
                            <!-- End-->

                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-1.webp" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Marcus</h5><span class="small text-uppercase text-muted">Backend
                                        Developer</span>
                                </div>
                            </div>
                            <!-- End-->

                             <!-- Team item-->
                             <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-8.png" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Amita</h5><span class="small text-uppercase text-muted">Backend
                                        Developer</span>
                                </div>
                            </div>
                            <!-- End-->
                            
                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-7.png" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Ajit</h5><span class="small text-uppercase text-muted">Frontend
                                        Developer</span>
                                </div>
                            </div>
                            <!-- End-->
                            
                            <!-- Team item-->
                            <div class="col-xl-4 col-sm-6 mb-5">
                                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                                        src="../static/images/avatar-9.png" alt="" width="100"
                                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                                    <h5 class="mb-0">Doris</h5><span class="small text-uppercase text-muted">Frontend
                                        Developer</span>
                                </div>
                            </div>
                            <!-- End-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}